/*header/////*/
body{
margin: 0;
background-color: black;
font-size: 22px;
font-family: Helvetica, sans-serif;
color: seashell;
opacity: 0.9;
text-align:center;

}
div{border: 2px solid red;}
/* here is the code which makes the header logo move left and links move right using the space between justify-content*/
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  position:fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  background-color: black;
}

 /*Logo for header top left*/
img{
height: 50px

}

/*Top Right Code of Header*/

a{
  color: seashell;
  opacity: 0.9;
text-decoration: underline;}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*OurMission*/
.our-mission{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;


}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* tea of the month code*/

h2 h4{
  text-align: center;
/*pictures for tea of the month code to resize the pictures*/
}
 .rum, .berry, .donut, .ave-tea, .bizarre-tea{
  height: 200px;
  width: 300px;
/*//////////////////////////////////////////////////////Oakdale code with back ground image//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


}
p{
  opacity: 1;
}
.Oakdale{

}
.Location{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
}

/*///////////////////////////////////////////////////////footer code//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
footer{
  text-align: left;
  margin-left: 20px;
}
